ul.circle {list-style-type:circle;}
ul.disc {list-style-type:disc;}
ul.square {list-style-type:square;}
ul.roman {list-style-type:upper-roman;}

em {background-color:#FFFFF0;}

body
{
border-style:solid;
border-width:1px;
}

#skills 
{
  margin:auto;
  font-stretch: extra-expanded;
}

a:link {color:#00FF00;}    /* непосещенная ссылка */
a:visited {color:#32CD32;} /* посещенная ссылка */
a:hover {color:#00FFFF;}   /* курсор мыши над ссылкой */
a:active {color:#FFFF00;}  /* выбранная ссылка */
